/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  --mainColor: #ff8c32;
  --secondColor: #06113c;
  --thirdColor: #06113ca6;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #eeeeee;
  --section-padding: 60px;
  --main-duration: 0.5s;
}
/* start components */
.special-heading {
  color: #8193a569;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
/* start components */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
hr {
  width: 400px;
  color: var(--mainColor);
  border: 1px solid;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */
/* start header  */
.header {
  position: sticky;
  top: 0;
  z-index: 3;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #06113c;
  border-radius: 10px;
  height: 60px;
  width: auto;
}
.header .logo {
  width: 60px;
  background-color: #06113c;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: var(--secondColor);
}

.header .links .icon span {
  margin-bottom: 5px;
  height: 2px;
  background-color: var(--mainColor);
}
.header .links .icon span:first-child {
  height: 2px;
  border-radius: 5px;
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  height: 2px;
  width: 60%;
  transition: 0.3s;
  border-radius: 5px;
}
.header .links .icon span:last-child {
  height: 2px;
  width: 100%;
  border-radius: 5px;
}
.header .links ul {
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  background-color: var(--secondColor);
  border-radius: 5px;
  display: none;
  z-index: 1;
  border: 1px solid var(--mainColor);
  border-bottom: 5px solid var(--mainColor);
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--mainColor) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  text-decoration: none;
  padding: 15px;
  color: var(--mainColor);
  display: block;
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #dddddd;
}
/* end header  */
/* start landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  z-index: -1;
  border: 1px solid var(--secondColor);
  border-top: none;
  border-radius: 10px;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 360px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--mainColor);
  font-size: 50px;
  font-weight: solid;
}
.landing .intro-text p {
  color: var(--secondColor);
  line-height: 1.7;
}
/* end landing */
/* start features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .container .feat h3 {
  color: var(--secondColor);
  font-weight: 800;
}
.features .container .feat p {
  color: var(--thirdColor);
  line-height: 1.7;
}
.features .feat {
  text-align: center;
  padding: 20px;
}
.features .feat span {
  color: var(--mainColor);
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}
/* end features */
/* start services */
.services {
  padding-top: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
  justify-content: center;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv span {
  color: var(--mainColor);
  font-style: normal;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 20px 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}

/* end services */
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
  border-radius: 20px;
}
.portfolio .portfolio-content .card:hover {
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 10px solid;

  border-color: var(--mainColor);
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  border-radius: 20px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
  color: var(--mainColor);
}
.portfolio .portfolio-content .card .info p {
  color: var(--secondColor);
  line-height: 1.6;
  margin-bottom: 0;
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondColor);
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--mainColor);
  border-bottom: 80px solid var(--mainColor);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text .aboutme p {
  line-height: 2;
  color: #777;
}
/* end about */
/* start contact */
.contact {
  padding-top: var(--section-padding);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info p {
  font-size: 30px;
  font-weight: 800;
  color: var(--secondColor);
}
.contact .info img {
  height: 100px;
  width: 150px;
}
.contact .info img:hover {
  border: 1px solid var(--mainColor);
  border-radius: 10px;
}
/* end contact */
/* start footer */
.footer {
  background-color: var(--secondColor);
  color: #dddddd;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  border-radius: 10px;
}
.footer span {
  color: var(--mainColor);
}
/* end footer */
